/* body {
    background-color: #E8EDDF;
}

#kotak {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    }

#aplikasi {
    display: flex;
    justify-content: center;
    background-color:  #1C2826;
    width: 800px;
    height: 500px;
    border-radius: 30px;
} */
